# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Virtual environments
.venv/
.venv-1/
venv/
env/

# IDE
.vscode/
.idea/

# Test outputs
reports/
screenshots/

# Environment variables
.env

# Logs
*.log